$white: #fff;
$black: #000;
$primary: #222;
$darkwhite: #f7f7f7;
$gray: #717171;
$lightgray: #e8e8e8;
$red: #fe385c;
$blue: #0c66ff;

$utilities: (
  shadow: (
    sm: 0 1px 2px 0 rgb(0 0 0 / 0.05),
    base: (
      0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1)
    ),
    md: (
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1)
    ),
    lg: (
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1)
    ),
    xl: (
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1)
    ),
    xl-2: 0 25px 50px -12px rgb(0 0 0 / 0.25),
    inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05)
  )
);

@function util($utility, $base) {
  @if map-has-key($utilities, $utility) {
    $utility: map-get($utilities, $utility);

    @if map-has-key($utility, $base) {
      $base: map-get($utility, $base);
      @return $base;
    }

    @warn "unknown base `#{$base}` in utility";
    @return null;
  }

  @warn "unknown utility `#{$utility}` in utilities";
  @return null;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
